/*
Color Scheme:
#98d2eb
#e2f6ff
#b1c5ce
#5c6f77
#2c4149
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  color:#5c6f77;
}

#container {
  margin:1em;
}
table {
  border-collapse:collapse;
  table-layout:fixed;

}
#header > h1{
  text-align:center;
  font-weight:normal;
}
table,th,td {
  border:1px solid #5c6f77;


}
th, td {
  height:0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-weight:lighter;
  padding:1em;
}
th {
  background-color:#5c6f77;
  color:#e2f6ff;
  text-align:left;
}

#th_start {
  width:8em;
}
#th_end {
  width:8em;
}
#th_duration {
  width:8em;
}
#th_compare {
  width:8em;
}
#th_label {
  width:auto;
}
#entry-label {
  float:left;
  width: calc(100% - 3.6em);
}

.entry-time {
  float:left;
  width: 7em;
}
.button-autofill {
  float:right;
}
#button-submit-log-entry {
  font-weight:bold;

}
#day-table {
  margin:0 auto; width:100%;
  padding: 10vw;
}
.button-circular{
  width:1.7em;
  height:1.7em;
  margin-left:.2em;
  padding:0;
  border-radius: 50%;
  color: #5c6f77;
  border-color:#5c6f77;
  border-style:solid;
  border-width:thin;
  background-color:#98d2eb;
  font-size:1em;
}
